<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Balance : <span th:text="${user.get().getBalance()}"></span></h1>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Date </th>
        <th> Amount </th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="goal : ${goalList}">
        <td><span th:text="${goal.name}"></span></td>
        <td><span th:text="${goal.goalDate}"></span></td>
        <td><span th:text="${goal.amount}"></span></td>
        <td><a th:href="@{/updateGoal/{goalId}(goalId=${goal.id})}">Update</a></td>
        <td><a th:href="@{/moreGoalDetails/{goalDetailsId}(goalDetailsId=${goal.id})}">More Details</a></td>
        <td>
            <form th:action="@{goal/delete/{goalId}(goalId=${goal.id})}" method="post">
                <button type="submit" class="deletebtn">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a href="/saveGoal">Save Goal</a>
<a href="/mainPage">Main Page</a>
</body>
</html>