<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Budget</title>
	<link rel="stylesheet" href="css/register.css">
</head>

<body>
	<div class="wrapper">
		<header id="header" class="header">
			<div class="header__container">
				<a href="index.html" class="header__logo">Budget</a>
			</div>
		</header>
		<main class="page">
			<div class="page__container">
				<div id="popup" class="page">
					<div class="page__body">
						<div class="page__content">

							<div class="page__title">Registration</div>
							<div class="page__sign-up">
								<span>Already registered?</span>
								<a href="login.html">Login here</a>
							</div>
							<form action="#" method="post" class="popup__form form">
								<div class="form__input">
									<span class="form__title">First Name</span>
									<input type="text">
								</div>
								<div class="form__input">
									<span class="form__title">Last Name</span>
									<input type="text">
								</div>
								<div class="form__input">
									<span class="form__title">Email</span>
									<input type="email">
								</div>
								<div class="form__input">
									<span class="form__title">Balance (USD)</span>
									<input type="number">
								</div>
								<div class="form__input">
									<span class="form__title">Password</span>
									<input type="password">
								</div>

								<button type="submit" class="form__btn">Login</button>
							</form>
						</div>
					</div>
				</div>
				<div class="page__image _ibg">
					<img src="img/cover.jpg" alt="background picture">
				</div>
			</div>
		</main>
		<footer class="footer">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, magni.
		</footer>
	</div>
</body>

</html>