<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Budget</title>
	<link rel="stylesheet" href="css/update-goals.css">
</head>

<body>
	<div class="wrapper">
		<header id="header" class="header">
			<div class="header__container">
				<a href="index.html" class="header__logo">Budget</a>
			</div>
		</header>
		<main class="page">
			<div class="page__container">
				<div id="popup" class="page">
					<div class="page__body">
						<div class="page__content">
							<h1 class="page__title">Expence</h1>
							<div class="page__sign-up">
								<h2 class="page__budget">Budget: <span>250 $</span></h2>
							</div>
							<form action="#" method="post" class="popup__form form">
								<div class="form__input">
									<span class="form__title">Expense Name</span>
									<input type="text">
								</div>
								<div class="form__input">
									<span class="form__title">Expense Expire Date</span>
									<input type="date">
								</div>
								<div class="form__input">
									<span class="form__title">Expense Amount</span>
									<input type="number">
								</div>
								<div class="form__buttons">
									<a href="goals.html" class="form__btn">Add new goal</a>
									<a href="goals.html" class="form__btn">Cancel</a>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="page__image _ibg">
					<img src="img/cover.jpg" alt="background picture">
				</div>
			</div>
		</main>
	</div>
</body>

</html>