@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*==============*/
html,
body {
  height: 100%;
  font-size: 24px;
  color: #252B42;
  font-family: "Montserrat";
}

[class*=__container] {
  max-width: 1075px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
}

/*=======================*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 20px 0;
}
.header__logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 1;
  visibility: visible;
}
.page__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.page__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}
.page__content {
  background-color: #fff;
  padding: 30px;
  position: relative;
}
.page__title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 36px;
}
.page__sign-up {
  text-align: center;
  margin-bottom: 50px;
}
.page__sign-up > * {
  font-size: 20px;
}
.page__sign-up > a {
  color: #0D5C63;
  font-weight: 700;
}
.form__input:not(:last-child) {
  margin-bottom: 22px;
}
.form__input > input {
  width: 100%;
  border: 2px solid #252B42;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 26px;
}
.form__title {
  font-size: 24px;
  font-weight: 500;
}
.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: 28px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8509803922);
  background-color: #0D5C63;
  border-radius: 15px;
  max-width: 150px;
  line-height: 98%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}